<!--<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">-->
<!--  <mat-card class="card-picture"  *ngFor="let picture of pictures">-->
<!--    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">-->
<!--      <span fxFlex="80%">{{picture.title}}</span>-->
<!--      <mat-icon fxFlex="10%">mode_edit</mat-icon>-->
<!--      <mat-icon fxFlex="10%">delete</mat-icon>-->
<!--    </mat-card-title>-->
<!--    <img mat-card-image [src]="picture.img">-->
<!--  </mat-card>-->
<!--</div>-->

<ul class="gal">
  <li><img src="http://lorempixel.com/400/400/?1" />
  <li><img src="http://lorempixel.com/400/400/?2" />
  <li><img src="http://lorempixel.com/400/400/?3" />
  <li><img src="http://lorempixel.com/400/400/?4" />
  <li><img src="http://lorempixel.com/400/400/?5" />
  <li><img src="http://lorempixel.com/400/400/?6" />
  <li><img src="http://lorempixel.com/400/400/?7" />
  <li><img src="http://lorempixel.com/400/400/?8" />
  <li><img src="http://lorempixel.com/400/400/?9" />
  <li><img src="http://lorempixel.com/400/400/?10" />
  <li><img src="http://lorempixel.com/400/400/?11" />
  <li><img src="http://lorempixel.com/400/400/?12" />
  <li><img src="http://lorempixel.com/400/400/?13" />
  <li><img src="http://lorempixel.com/400/400/?14" />
  <li><img src="http://lorempixel.com/400/400/?15" />
  <li><img src="http://lorempixel.com/400/400/?16" />
  <li><img src="http://lorempixel.com/400/400/?17" />
  <li><img src="http://lorempixel.com/400/400/?18" />
  <li><img src="http://lorempixel.com/400/400/?19" />
  <li><img src="http://lorempixel.com/400/400/?20" />
  <li><img src="http://lorempixel.com/400/400/?21" />
  <li><img src="http://lorempixel.com/400/400/?22" />
  <li><img src="http://lorempixel.com/400/400/?23" />
  <li><img src="http://lorempixel.com/400/400/?24" />
  <li><img src="http://lorempixel.com/400/400/?25" />
  <li><img src="http://lorempixel.com/400/400/?26" />
  <li><img src="http://lorempixel.com/400/400/?27" />
  <li><img src="http://lorempixel.com/400/400/?28" />
  <li><img src="http://lorempixel.com/400/400/?29" />
  <li><img src="http://lorempixel.com/400/400/?30" />
</ul>
